<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>
  <body>

    <form method="POST" action="/">
      <label for="phrase">Enter your puppy's information:</label>
      <input type="text" id="puppy_name" name='name'>
      <input type="text" id="puppy_age" name='age'>
      <input type="text" id="puppy_breed" name='breed'>
      <input type="submit" id="submit ">
    </form>

  </body>
</html>
